@use './reset';
@use './fonts';
@use './element';
@use './overlay';
@use './variables';
@use './breakpoint';

body {
    padding: 2.8rem 1.6rem 7.5rem 1.6rem;

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 3.2rem;
        justify-content: space-between;

        img {
            cursor: pointer;
        }

        .logo {
            width: 4.50rem;
            height: 2.8rem;
        }

        #nav {
            display: none;
        }
    }

    .intro {
        margin-bottom: 6.4rem;

        .img {
            width: 100%;
            height: 30rem;
            object-fit: cover;
            margin-bottom: 2.4rem;
        }

        .title {
            font-size: 4.0rem;
            line-height: 4rem;
            margin-bottom: 1.6rem;
            font-family: "Inter-ExtraBold";
            color: variables.$very-dark-blue;
        }

        .body {
            font-size: 1.5rem;
            line-height: 2.6rem;
            margin-bottom: 2.4rem;
            font-family: "Inter-Regular";
            color: variables.$dark-grayish-blue;
        }
    }

    .new {
        padding: 2.4rem 2rem 2.4rem 2.1rem;
        background: variables.$very-dark-blue;

        .title {
            font-size: 3.2rem;
            line-height: 3.2rem;
            margin-bottom: 3.5rem;
            font-family: "Inter-Bold";
            color: variables.$soft-orange;
        }

        .list {
            &__item {
                .title {
                    cursor: pointer;
                    font-size: 2rem;
                    line-height: 2.4rem;
                    margin-bottom: 0.8rem;
                    color: variables.$off-white;
                    font-family: "Inter-ExtraBold";

                    &:hover {
                        color: variables.$soft-red;
                    }
                }

                .body {
                    font-size: 1.5rem;
                    line-height: 2.6rem;
                    font-family: "Inter-Regular";
                    color: variables.$grayish-blue;
                }
            }
        }
    }

    .news {
        margin-top: 6.4rem;

        .list {
            gap: 3.2rem;
            display: flex;
            flex-direction: column;

            &__item {
                gap: 2.4rem;
                display: flex;
                align-items: center;

                img {
                    width: 10rem;
                }

                .content {
                    .count {
                        font-size: 3.2rem;
                        line-height: 3.2rem;
                        font-family: "Inter-Bold";
                        color: variables.$grayish-blue;
                    }

                    .title {
                        cursor: pointer;
                        font-size: 1.8rem;
                        margin-top: 1.2rem;
                        line-height: 2.4rem;
                        margin-bottom: 0.9rem;
                        font-family: "Inter-ExtraBold";
                        color: variables.$very-dark-blue;
                        
                        &:hover {
                            color: variables.$soft-red;
                        }
                    }

                    .body {
                        font-size: 1.5rem;
                        line-height: 2.6rem;
                        font-family: "Inter-Regular";
                        color: variables.$dark-grayish-blue;
                    }
                }
            }
        }
    }
}

@include breakpoint.mq(desktop) {
    body {
        padding: 8.9rem 0 13rem;

        .container {
            width: 111rem;
            margin: 0 auto;

            .header {
                margin-bottom: 5.5rem;

                #menu {
                    display: none;
                }

                #nav {
                    gap: 4rem;
                    display: flex;
                    align-items: center;

                    a {
                        font-size: 1.5rem;
                        line-height: 2.6rem;
                        text-decoration: none;
                        font-family: "Inter-Regular";
                        color: variables.$dark-grayish-blue;

                        &:hover {
                            color: variables.$soft-red;
                        }
                    }
                }

                .logo {
                    height: 4rem;
                    width: 6.5rem;
                }
            }

            .desktop__container {
                gap: 3rem;
                display: flex;
                margin-bottom: 7.1rem;

                .intro {
                    margin-bottom: 0;
            
                    .img {
                        width: 100%;
                        margin-bottom: 2.8rem;
                        content: url("/News-Homepage/assets/images/image-web-3-desktop.jpg");
                    }

                    .intro__content {
                        gap: 3rem;
                        display: flex;
                        align-items: center;

                        .title {
                            width: 35rem;
                            margin-bottom: 0;
                            font-size: 5.6rem;
                            line-height: 5.6rem;
                        }

                        div {
                            width: 35rem;
                        }
                    }
                }
            }

            .new {
                padding: 3.2rem 2.4rem 3.1rem;
        
                h1.title {
                    font-size: 4rem;
                    line-height: 4rem;
                    margin-bottom: 3.4rem;
                }
            }

            .news {
                margin-top: 0;
        
                .list {
                    gap: 3rem;
                    flex-direction: row;

                    &__item {
                        .content {
                            width: 22.6rem;
                        }
                    }
                }
            }
        }
    }
}