*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../assets/fonts/static/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter-Regular";
  src: url("../assets/fonts/static/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url("../assets/fonts/static/Inter-ExtraBold.ttf");
}
.button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 4.375px;
  text-transform: uppercase;
  font-family: "Inter-Bold";
  color: hsl(36, 100%, 99%);
  background: hsl(5, 85%, 63%);
  padding: 1.3rem 3.5rem 1.1rem 3.1rem;
}
.button:hover {
  background: hsl(240, 100%, 5%);
}

.line {
  width: 100%;
  height: 0.1rem;
  margin-top: 2.9rem;
  margin-bottom: 3.1rem;
  background: hsl(236, 13%, 42%);
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  min-height: 100vh;
  visibility: hidden;
  background: rgba(0, 0, 26, 0.5);
}
.overlay .sidemenu {
  right: -100%;
  height: 100%;
  position: absolute;
  width: calc(100% - 11.9rem);
  transition: right 0.4s ease;
  padding: 2.7rem 2.9rem 0 2.4rem;
  background: hsl(36, 100%, 99%);
}
.overlay .sidemenu .header {
  display: flex;
  margin-bottom: 8.6rem;
  justify-content: flex-end;
}
.overlay .sidemenu .header img {
  cursor: pointer;
}
.overlay .sidemenu .nav {
  gap: 2.4rem;
  display: flex;
  flex-direction: column;
}
.overlay .sidemenu .nav a {
  cursor: pointer;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-decoration: none;
  font-family: "Inter-Regular";
  color: hsl(240, 100%, 5%);
}
.overlay .sidemenu .nav a:hover {
  color: hsl(5, 85%, 63%);
}

body {
  padding: 2.8rem 1.6rem 7.5rem 1.6rem;
}
body .header {
  display: flex;
  align-items: center;
  margin-bottom: 3.2rem;
  justify-content: space-between;
}
body .header img {
  cursor: pointer;
}
body .header .logo {
  width: 4.5rem;
  height: 2.8rem;
}
body .header #nav {
  display: none;
}
body .intro {
  margin-bottom: 6.4rem;
}
body .intro .img {
  width: 100%;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2.4rem;
}
body .intro .title {
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 1.6rem;
  font-family: "Inter-ExtraBold";
  color: hsl(240, 100%, 5%);
}
body .intro .body {
  font-size: 1.5rem;
  line-height: 2.6rem;
  margin-bottom: 2.4rem;
  font-family: "Inter-Regular";
  color: hsl(236, 13%, 42%);
}
body .new {
  padding: 2.4rem 2rem 2.4rem 2.1rem;
  background: hsl(240, 100%, 5%);
}
body .new .title {
  font-size: 3.2rem;
  line-height: 3.2rem;
  margin-bottom: 3.5rem;
  font-family: "Inter-Bold";
  color: hsl(35, 77%, 62%);
}
body .new .list__item .title {
  cursor: pointer;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 0.8rem;
  color: hsl(36, 100%, 99%);
  font-family: "Inter-ExtraBold";
}
body .new .list__item .title:hover {
  color: hsl(5, 85%, 63%);
}
body .new .list__item .body {
  font-size: 1.5rem;
  line-height: 2.6rem;
  font-family: "Inter-Regular";
  color: hsl(233, 8%, 79%);
}
body .news {
  margin-top: 6.4rem;
}
body .news .list {
  gap: 3.2rem;
  display: flex;
  flex-direction: column;
}
body .news .list__item {
  gap: 2.4rem;
  display: flex;
  align-items: center;
}
body .news .list__item img {
  width: 10rem;
}
body .news .list__item .content .count {
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-family: "Inter-Bold";
  color: hsl(233, 8%, 79%);
}
body .news .list__item .content .title {
  cursor: pointer;
  font-size: 1.8rem;
  margin-top: 1.2rem;
  line-height: 2.4rem;
  margin-bottom: 0.9rem;
  font-family: "Inter-ExtraBold";
  color: hsl(240, 100%, 5%);
}
body .news .list__item .content .title:hover {
  color: hsl(5, 85%, 63%);
}
body .news .list__item .content .body {
  font-size: 1.5rem;
  line-height: 2.6rem;
  font-family: "Inter-Regular";
  color: hsl(236, 13%, 42%);
}

@media (min-width: 90em) {
  body {
    padding: 8.9rem 0 13rem;
  }
  body .container {
    width: 111rem;
    margin: 0 auto;
  }
  body .container .header {
    margin-bottom: 5.5rem;
  }
  body .container .header #menu {
    display: none;
  }
  body .container .header #nav {
    gap: 4rem;
    display: flex;
    align-items: center;
  }
  body .container .header #nav a {
    font-size: 1.5rem;
    line-height: 2.6rem;
    text-decoration: none;
    font-family: "Inter-Regular";
    color: hsl(236, 13%, 42%);
  }
  body .container .header #nav a:hover {
    color: hsl(5, 85%, 63%);
  }
  body .container .header .logo {
    height: 4rem;
    width: 6.5rem;
  }
  body .container .desktop__container {
    gap: 3rem;
    display: flex;
    margin-bottom: 7.1rem;
  }
  body .container .desktop__container .intro {
    margin-bottom: 0;
  }
  body .container .desktop__container .intro .img {
    width: 100%;
    margin-bottom: 2.8rem;
    content: url("/News-Homepage/assets/images/image-web-3-desktop.jpg");
  }
  body .container .desktop__container .intro .intro__content {
    gap: 3rem;
    display: flex;
    align-items: center;
  }
  body .container .desktop__container .intro .intro__content .title {
    width: 35rem;
    margin-bottom: 0;
    font-size: 5.6rem;
    line-height: 5.6rem;
  }
  body .container .desktop__container .intro .intro__content div {
    width: 35rem;
  }
  body .container .new {
    padding: 3.2rem 2.4rem 3.1rem;
  }
  body .container .new h1.title {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 3.4rem;
  }
  body .container .news {
    margin-top: 0;
  }
  body .container .news .list {
    gap: 3rem;
    flex-direction: row;
  }
  body .container .news .list__item .content {
    width: 22.6rem;
  }
}/*# sourceMappingURL=index.css.map */